<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shades</title>
    <style>
      td, th {
        width: 80px;
        height: 50px;
      }
    </style>
  </head>
  <body>
  <center>
    <span>
        <a href="/">start page</a>
    </span>
    <hr>
    <div>
      <table>
        <tr>
          <th>black</th>
          <th>red</th>
          <th>green</th>
          <th>blue</th>
        </tr>
        {% for i in range %}
        <tr>
          <td style="background-color: #{{i}}{{i}}{{i}}"></td>
          <td style="background-color: #{{i}}0000"></td>
          <td style="background-color: #00{{i}}00"></td>
          <td style="background-color: #0000{{i}}"></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </center>
  </body>
</html>

