{% block title %}<title>ex01</title>{% endblock title %}
{% block content %}
<center style="font-size: 14pt">
    <span>
        <a href="/">start page</a>
    </span>
    <hr>
<div>
  <ul style="display: flex; justify-content: space-around; align-items: center; width: 30%">
    <li>
        <a href="display">display</a>
    </li>
    <li>
        <a href="django">django</a>
    </li>
    <li>
        <a href="templates">templates</a>
    </li>
  </ul>
</div>
    <hr>
</center>
{% endblock content %}